@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@font-face {
  font-family: Pixel;
  src: url(../Ants_on_a_Log_by_nintentofu.ttf) format("truetype"); }

#mainbar {
  position: relative;
  top: 30%;
  height: 17%;
  max-height: 100%;
  background: #464646;
  border-color: #707070;
  border-style: solid none solid;
  border-width: 0.4em;
  clear: both; }
  #mainbar img {
    float: left; }
  #mainbar .user_links .signin_button {
    width: 111px;
    height: 50px; }
  #mainbar .user_links .signin_popover {
    display: none;
    position: absolute;
    border-width: 14px 14px 28px 28px;
    -moz-border-image: url(../popover_border.png) 14 14 28 28 fill stretch;
    -webkit-border-image: url(../popover_border.png) 14 14 28 28 fill stretch;
    border-image: url(../popover_border.png) 14 14 28 28 fill stretch; }
    #mainbar .user_links .signin_popover .signin_field input {
      font-family: Pixel, "Press Start 2P", cursive;
      font-size: 12px;
      height: 22px;
      background-color: transparent;
      border-width: 12px 12px 12px 12px;
      border-image: url(../form.png) 12 12 12 12 fill stretch;
      margin-bottom: 10px; }
    #mainbar .user_links .signin_popover a {
      margin-left: 3px; }
