@import "../partials/font";
@import "../partials/color";
@import "../partials/mixins";

// @mixin border_image($image_url, $top, $right, $bottom, $left) {
// 	border-width: #{$top}px #{$right}px #{$bottom}px #{$left}px;
// 	-webkit-border-image: url(../#{$image_url}.png) $top $right $bottom $left fill stretch;
// 	-moz-border-image: url(../#{$image_url}.png) $top $right $bottom $left;
// 	border-image: url(../#{$image_url}.png) $top $right $bottom $left fill stretch;
// }

// index page styling -- probably move this into the index file
#mainbar {
	position: relative;
	top: 15em;
	height: 136px;
	max-height: 100%;
	background: $dark_background;
	border-color: $light_background;
	border-style: solid none solid;
	border-width: 0.4em;
	clear: both;
	
	#title_container {
		width: 970px;
		height: 135px;
		margin: 0px auto;

		.title { 
			float: left; 
		}
		
		.buttons {
			position: relative;
			height: 112px;
			top: 12px;

			.image_button {
				@include pixel_font($font_size_btn, $font_color_btn);
				border: none;
				background: url(../signin_button.png) no-repeat center center;
				width: 111px;
				height: 50px;
				&:hover { background: url(../signin_button_hover.png) no-repeat center center; }
			}

			#signin_button { margin-bottom: 12px; }

			.popover {
				@include border_image(popover_border, 14, 14, 28, 28, stretch);
				display: none;
				position: absolute;

				.form_field {
					input {
						@include pixel_font($font_size_std, $font_color_std);
						@include border_image(form, 12, 12, 12, 12, stretch);
						height: $font_size_std + 10px;
						background-color: transparent;
						margin-bottom: 10px;
					}
					&:last-child input { margin-bottom: 0px; }
				}

				.arrow {
					position: absolute;
					left: 133px;
				}

				a { margin-left: 3px; }
			}

			#signin_form {
				.down_arrow { top: 147px; }
			}

			#signup_form {
				.up_arrow { top: -43px; }
			}
		}
	}
}