html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	background: #FFF;
	min-height: 100%;
	height: inherit;
	width: 100%;
}

header {
	padding: 1em;
	height: 50px;
}

header img {
	
}

.content {
	min-height: inherit;
	height: inherit;
	margin: 0 auto -4em;
	vertical-align: bottom;
}

.content h1 {
	font-size: 200%;
}

footer, .push {
	height: 1em;
	padding: 1em;
	clear: both;
}

footer #footer_left {
	float: left;
}

footer #footer_right {
	float: right;
}

/* Links */

a {
  	color: #09c;
  	text-decoration: none;
}

a:hover {
  	color: #069;
  	text-decoration: underline;
}

a:visited {
  	color: #069;
}

/* Navigation */

nav {
	float: right;
}

nav {
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
  	font-weight: bold;
}

nav ul li a:visited {
  	color: #09c;
}

nav ul li a:hover {
  	text-decoration: underline;
}

/* home */

#mainbar {
	position: relative;
	top: 15em;
	height: 13em;
	background: #365656;
	border-style: solid none solid;
	border-width: 0.4em;
	border-color: #568A8A;
	clear: both;
}

#mainbar img {
	float: left;
	padding-left: 6em;
}

#mainbar .login_links {
	overflow: hidden;
	height: inherit;
}

#mainbar .login_links .button {
	height: 5em;
	width: 10em;
}

#mainbar .login_links nav {
	float: none;
	height: 4em;
	width: 5em;
}

#mainbar .login_links nav ul li {
	display: block;
}


