#mainbar
  = image_tag("title.png", :alt => "Expand")
  .login_links
    .button
      %form{ :method => 'link', :action => '/login', :onclick => "return show_popup()", "data-remote" => "true" }
        %input{ :type => 'submit', :value => 'Login', :class => "popup_link" }
    %nav
      %ul
        %li= link_to 'Play Now', '/portal' 
        %li= link_to 'Register', '/register'
.transparency
.login_popup
        
      

