#mainbar
  = image_tag("title.png", :alt => "Expand")
  .nav
    .button
      %form{ :method => 'link', :action => '/login' }
      %input{ :type => 'submit', :value => 'Login' }
    .links
      %ul
        %li= link_to 'Play Now', '/portal'
        %li= link_to 'Register', '/register'
      