#main_bar
  %img.title{ :src => 'title.png', :alt => 'Expand' }
  %ul#header_links
    %li.list_item= link_to 'Login', '/login'
    %li.list_item= link_to 'Register', '/register'
    %li.list_item= link_to 'Play Now', '/portal'