@font-face {
  font-family: Pixel;
  src: url(/assets/fffharmo.ttf) format("truetype"); }

.wrapper {
  background: #707070;
  overflow: auto;
  margin: 0 1em;
  border-radius: 5px; }
  .wrapper #online_user_table {
    font-family: Pixel, cursive;
    font-size: 14px;
    color: #a66c5a;
    display: table;
    float: left;
    margin: 1em; }
    .wrapper #online_user_table .table_title {
      display: table-header-group; }
    .wrapper #online_user_table .user_row {
      display: table-row;
      height: 20px; }
      .wrapper #online_user_table .user_row .user_cell {
        display: table-cell; }
  .wrapper .user_cell {
    font-family: Pixel, cursive;
    font-size: 12px;
    color: white;
    width: 200px;
    padding-right: 5px; }
  .wrapper #notable_user_panel {
    float: right; }
    .wrapper #notable_user_panel .user_list {
      font-family: Pixel, cursive;
      font-size: 12px;
      color: white;
      background: #a66c5a;
      width: 300px;
      min-height: 6em;
      margin: 1em;
      border-radius: 5px; }
      .wrapper #notable_user_panel .user_list .user_cell {
        display: inline-block; }
    .wrapper #notable_user_panel #checked_user_list {
      position: relative; }
      .wrapper #notable_user_panel #checked_user_list input[type=submit] {
        position: absolute;
        bottom: 0; }
