@font-face {
  font-family: Pixel;
  src: url(/assets/fffharmo.ttf) format("truetype"); }

.panel {
  position: relative;
  clear: left;
  overflow: auto;
  margin: 1.2% 5% 2% 5%;
  padding: 0.5%;
  min-width: 525px;
  height: 85%;
  border-radius: 10px;
  background-image: url(/assets/zigzag.png);
  -moz-box-shadow: 3px 3px 20px black;
  -webkit-box-shadow: 3px 3px 20px black;
  box-shadow: 3px 3px 20px black; }
  .panel #top_bar {
    display: inline-block;
    width: 100%;
    border-bottom: 3px #636363 dashed; }
    .panel #top_bar .title {
      margin: 0.5em 0 0.5em 1em; }
  .panel .user_table {
    display: table; }
    .panel .user_table .padding_row {
      display: table-row;
      height: 5px; }
    .panel .user_table .user_row {
      display: table-row;
      height: 20px; }
      .panel .user_table .user_row .user_cell {
        display: table-cell; }
  .panel #online_user_table {
    float: left;
    margin: .5em 1em; }
    .panel #online_user_table .table_title {
      font-family: Pixel, cursive;
      font-size: 20px;
      color: #cc846e;
      display: table-header-group; }
  .panel .user_cell {
    font-family: Pixel, cursive;
    font-size: 12px;
    color: white;
    width: 200px;
    padding-right: 5px; }
  .panel #info_panel {
    float: right; }
    .panel #info_panel .table_title {
      font-family: Pixel, cursive;
      font-size: 12px;
      color: #cc846e; }
    .panel #info_panel .dotted_panel {
      border-width: 9px 9px 9px 9px;
      -webkit-border-image: url(../dotted_border.png) 9 9 9 9 fill repeat;
      -moz-border-image: url(../dotted_border.png) 9 9 9 9 repeat;
      border-image: url(../dotted_border.png) 9 9 9 9 fill repeat;
      font-family: Pixel, cursive;
      font-size: 12px;
      color: white;
      width: 20em;
      margin: 1em;
      padding: 0.5em; }
    .panel #info_panel #checked_user_list {
      position: relative;
      min-height: 111px; }
      .panel #info_panel #checked_user_list input[type=submit] {
        position: absolute;
        left: 100%;
        top: 100%;
        margin: -50px 0 0 -111px; }
    .panel #info_panel #game_invites .game_invite {
      padding: 5px 0px; }
      .panel #info_panel #game_invites .game_invite .invite_players {
        color: #e0a492;
        display: block;
        padding: 5px 0px; }
      .panel #info_panel #game_invites .game_invite .invite_buttons {
        padding-bottom: 5px; }
    .panel #info_panel #game_invites .no_invites .invite_players {
      display: none; }
    .panel #info_panel #game_invites .no_invites .invite_buttons {
      display: none; }
    .panel #info_panel #game_invites .no_invites .waiting_text {
      display: none; }
    .panel #info_panel #game_invites .proposed_game.start_game .invite_players {
      display: block; }
    .panel #info_panel #game_invites .proposed_game.start_game .invite_buttons {
      display: block; }
    .panel #info_panel #game_invites .proposed_game.start_game .waiting_text {
      display: block; }
