@font-face {
  font-family: Pixel;
  src: url(/assets/fffharmo.ttf) format("truetype"); }

.debug_string {
  font-family: Pixel, cursive;
  font-size: 12px;
  color: black; }

#start_company_popup, #purchase_stock_popup {
  background-color: #ffffff;
  border: 2px dashed gray;
  padding: 1em;
  display: none;
  font-family: Pixel, cursive;
  font-size: 12px;
  color: black; }

.wrapper {
  position: relative;
  background: #464646;
  width: 70em;
  height: 35em;
  margin: 0 auto; }
  .wrapper .turn_label, .wrapper .money {
    font-family: Pixel, cursive;
    font-size: 20px;
    color: #a66c5a;
    background: #464646;
    padding: 0.5em; }
  .wrapper .turn_label {
    float: left; }
  .wrapper .board {
    display: table;
    margin: 0 auto; }
    .wrapper .board .row {
      display: table-row;
      height: 50px; }
      .wrapper .board .row .cell {
        font-family: Pixel, cursive;
        font-size: 12px;
        color: black;
        display: table-cell;
        background: #707070;
        width: 50px;
        text-align: center;
        vertical-align: middle;
        border: 2px dashed gray; }
      .wrapper .board .row .game_cell {
        background: #464646;
        color: #707070;
        border: 3px dotted #000; }
        .wrapper .board .row .game_cell:hover {
          border-color: #707070; }
      .wrapper .board .row .no_hotel {
        background: #000; }
      .wrapper .board .row .enabled {
        background: #a66c5a;
        color: white; }
        .wrapper .board .row .enabled:hover {
          border-color: #fff;
          background: #db7556; }
      .wrapper .board .row .adjacent {
        background: #db7556; }
      .wrapper .board .row .selected {
        background: #f09b46;
        color: white; }
        .wrapper .board .row .selected:hover {
          border-color: #fff;
          background: #f09b46; }
      .wrapper .board .row .highlighted {
        background: #db7556;
        color: white; }
        .wrapper .board .row .highlighted:hover {
          border-color: #fff;
          background: #db7556; }
  .wrapper .footer {
    position: absolute;
    margin-top: 1em;
    padding: 0.5em;
    right: 0em;
    left: 0em;
    background: #464646;
    font-family: Pixel, cursive;
    font-size: 12px;
    color: black;
    text-align: center;
    vertical-align: middle;
    border: 1em dotted #707070;
    color: white; }
    .wrapper .footer .buttons {
      position: absolute;
      top: 0em;
      right: 1em; }
  .wrapper .players {
    position: absolute;
    top: 10px;
    right: -30px;
    background-color: #464646;
    border: 1em dotted #707070; }
    .wrapper .players .player {
      font-family: Pixel, cursive;
      font-size: 14px;
      color: #a66c5a; }
      .wrapper .players .player .player_info {
        font-family: Pixel, cursive;
        font-size: 10px;
        color: white; }
    .wrapper .players .current_player {
      color: #78dabb; }
