@font-face {
  font-family: Pixel;
  src: url(/assets/fffharmo.ttf) format("truetype"); }

.debug_string {
  font-family: Pixel, cursive;
  font-size: 12px;
  color: black; }

#start_company_popup {
  background-color: #ffffff;
  border: 2px dashed gray;
  padding: 1em;
  display: none;
  font-family: Pixel, cursive;
  font-size: 12px;
  color: black; }

.wrapper {
  width: 70em;
  margin: 0 auto;
  background: #464646; }
  .wrapper .main {
    position: relative;
    margin: 0 auto; }
    .wrapper .main .turn_label {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-family: Pixel, cursive;
      font-size: 20px;
      color: #a66c5a; }
    .wrapper .main .status {
      position: absolute;
      top: 2em;
      left: -30px;
      background: #707070;
      border: 0.5em dotted #464646; }
      .wrapper .main .status .money {
        float: right;
        font-family: Pixel, cursive;
        font-size: 20px;
        color: #a66c5a; }
      .wrapper .main .status .player_companies {
        font-family: Pixel, cursive;
        font-size: 14px;
        color: #a66c5a; }
    .wrapper .main .board {
      display: table;
      margin: 0 auto;
      padding-top: 2em;
      padding-bottom: 2em; }
      .wrapper .main .board .row {
        display: table-row;
        height: 50px; }
        .wrapper .main .board .row .cell {
          font-family: Pixel, cursive;
          font-size: 12px;
          color: black;
          display: table-cell;
          background: #707070;
          width: 50px;
          text-align: center;
          vertical-align: middle;
          border: 2px dashed gray; }
        .wrapper .main .board .row .game_cell {
          background: #464646;
          color: #707070;
          border: 3px dotted #000; }
          .wrapper .main .board .row .game_cell:hover {
            border-color: #707070; }
        .wrapper .main .board .row .no_hotel {
          background: #000; }
        .wrapper .main .board .row .enabled {
          background: #a66c5a;
          color: white; }
          .wrapper .main .board .row .enabled:hover {
            border-color: #fff;
            background: #db7556; }
        .wrapper .main .board .row .adjacent {
          background: #db7556; }
        .wrapper .main .board .row .selected {
          background: #f09b46;
          color: white; }
          .wrapper .main .board .row .selected:hover {
            border-color: #fff;
            background: #f09b46; }
        .wrapper .main .board .row .highlighted {
          background: #db7556;
          color: white; }
          .wrapper .main .board .row .highlighted:hover {
            border-color: #fff;
            background: #db7556; }
    .wrapper .main .rightNav {
      position: absolute;
      top: 2em;
      right: -30px; }
      .wrapper .main .rightNav .players {
        background-color: #707070;
        border: 0.5em dotted #464646; }
        .wrapper .main .rightNav .players .player {
          font-family: Pixel, cursive;
          font-size: 14px;
          color: #a66c5a; }
          .wrapper .main .rightNav .players .player .player_info {
            font-family: Pixel, cursive;
            font-size: 10px;
            color: white; }
        .wrapper .main .rightNav .players .current_player {
          color: #78dabb; }
      .wrapper .main .rightNav .companies {
        background-color: #707070;
        border: 0.5em dotted #464646; }
        .wrapper .main .rightNav .companies .company_data {
          height: 25px;
          font-family: Pixel, cursive;
          font-size: 14px;
          color: #a66c5a; }
          .wrapper .main .rightNav .companies .company_data .company_data_name {
            float: left;
            width: 120px; }
          .wrapper .main .rightNav .companies .company_data .company_data_stock_count {
            float: left; }
          .wrapper .main .rightNav .companies .company_data .divider {
            float: left; }
          .wrapper .main .rightNav .companies .company_data .company_data_size {
            float: left; }
  .wrapper .footer {
    position: relative;
    margin: 0 auto;
    background: #707070;
    font-family: Pixel, cursive;
    font-size: 12px;
    color: black;
    text-align: center;
    vertical-align: middle;
    border: 0.5em dotted #464646;
    color: white; }
    .wrapper .footer .message {
      position: relative;
      margin: 0 auto;
      text-align: center; }
    .wrapper .footer #back_button {
      float: left; }
    .wrapper .footer #next_button {
      float: right; }
