@import "../partials/font";
@import "../partials/color";

$cell_height: 50px;

.debug_string {
	@include pixel_font($font_size_std, $font_color_std);
}

.wrapper {
	position: relative;
	background: $dark_background;
	width: 70em; height: 35em;
	margin: 0 auto;

	.turn_label {
		@include pixel_font($font_size_title, $font_color_title);
		background: $dark_background;
	}

	.board {
		display:table;
		margin: 0 auto;

		.row {
			display:table-row;
			height: $cell_height;

			.cell {
				@include pixel_font($font_size_std, $font_color_cell_border);
				display:table-cell;
				background: $light-background;
				width: $cell_height;
				text-align:center;
				vertical-align:middle;
				border: 2px dashed gray;
			}

			.game_cell {
				background: $dark_background;
				color: $font_color_cell;
				border: 3px dotted #000;

				&:hover {
					border-color: $light-background;
				}
			}

			.enabled {
				background: $primary_color;
				color: $font_color_cell_enabled;
				&:hover {
					border-color: #fff;
					background: $primary_color_highlight;
				}
			}
		}
	}

	.players {
		position: absolute;
		top: 10px; right: -30px;
		background-color: $dark_background;
		border: 1em dotted $light_background;

		.player {
			@include pixel_font($font_size_subtitle, $primary_color);

			.player_info {
				@include pixel_font($font_size_small, $font_color_user);
			}

		}
	}


}


