.players
{
  float:right;
  background-color: #eeeeee;
  width:200px;
}

.board_body
{
  display:table;
}

.row
{
  display:table-row;
  height: 50px;
}

.cell
{
  text-align:center;
  vertical-align:middle;
  display:table-cell;
  width: 50px;
  border-style:dotted;
  border-width:2px;
  border-color:gray;
}

.game_cell
{
  text-align:center;
  vertical-align:middle;
  display:table-cell;
  width: 50px;
  border-style:inset;
  border-width:3px;
  border-color:black;
}

