$font_size_std: 12px;
$font_size_btn: 16px;

$font_color_std: #000;
$font_color_btn: #fff;

$font_color_link: #78dabb;
$font_color_link_hover: #d78d84;
$font_color_link_visited: #66636f;

@font-face {
    font-family: Pixel;
	src: url(/assets/fffharmo.ttf) format("truetype");
}

@mixin pixel_font($font_size, $font_color) { 
	font-family: Pixel, cursive;
	font-size: $font_size;
	color: $font_color;
}
