$font_size_std: 12px;
$link_color: #78dabb;
$link_color_hover: #d78d84;
$link_color_visited: #66636f;

@font-face {
    font-family: Pixel;
    src: url(../Ants_on_a_Log_by_nintentofu.ttf) format("truetype");
}

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

@mixin pixel_font($font_size) { 
	font-family: Pixel, "Press Start 2P", cursive;
	font-size: $font_size;
}
