@import "partials/font";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

// links
a {
	@include pixel_font($font_size_std);
  	color: $link_color;
  	text-decoration: none;
	&:hover { color: $link_color_hover !important; }
	&:visited { color: $link_color_visited; }
}

// navigation
nav {
	float: right;
	padding: 0 0.7em;
	white-space: nowrap;
	
	ul {
		margin: 0;
		padding: 0;
		
		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;
			
			a {
				padding: 0 5px;
			  	font-weight: bold;
			}
		}
	}
}

// makes image height flexible with respect to container
img {
	max-width: 100%; max-height: 100%;
}