@import "partials/font";
@import "partials/color";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

// links
a {
	@include pixel_font($font_size_std, $font_color_link);
  	text-decoration: none;
	&:hover { color: $font_color_link_hover !important; }
	&:visited { color: $font_color_link_visited; }
}

#header {
	height: 1.5em;
	padding-top: .5em; 
	margin: 0 .5em .5em .5em;
	border-width: 0 0 1px 0;

	.flash {
		@include pixel_font($font_size_flash, $font_color_flash);
		display: inline-block;
		border-width: 9px 8px 9px 50px;
		border-image: url(/assets/flash.png) 9 8 9 50 fill stretch;
		&:empty { display: none; }
	}
}

// navigation
nav {
	float: right;
	white-space: nowrap;
	
	ul {
		li {
			list-style-type: none;
			display: inline-block;
			// padding: 0.2em 0;
			a { padding: 0 5px; font-weight: bold; }
		}
	}
}

// makes image height flexible with respect to container
img { max-width: 100%; max-height: 100%; }

