@font-face {
  font-family: Pixel;
  src: url(/assets/fffharmo.ttf) format("truetype"); }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

a {
  font-family: Pixel, cursive;
  font-size: 12px;
  color: #78dabb;
  text-decoration: none; }
  a:hover {
    color: #d78d84 !important; }
  a:visited {
    color: #66636f; }

#header {
  height: 1.5em;
  padding-top: .5em;
  margin: 0 .5em .5em .5em;
  border-width: 0 0 1px 0; }
  #header .flash {
    font-family: Pixel, cursive;
    font-size: 14px;
    color: white;
    display: inline-block;
    border-width: 9px 8px 9px 50px;
    border-image: url(/assets/flash.png) 9 8 9 50 fill stretch; }
    #header .flash:empty {
      display: none; }

nav {
  float: right;
  white-space: nowrap; }
  nav ul li {
    list-style-type: none;
    display: inline-block; }
    nav ul li a {
      padding: 0 5px;
      font-weight: bold; }

img {
  max-width: 100%;
  max-height: 100%; }
