@font-face {
  font-family: Pixel;
  src: url(/assets/fffharmo.ttf) format("truetype"); }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  font-family: Pixel, cursive;
  font-size: 12px;
  color: #78dabb;
  text-decoration: none; }
  a:hover {
    color: #d78d84 !important; }
  a:visited {
    color: #66636f; }

nav {
  float: right;
  padding: 0 0.7em;
  white-space: nowrap; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0; }
      nav ul li a {
        padding: 0 5px;
        font-weight: bold; }

img {
  max-width: 100%;
  max-height: 100%; }
