@import "partials/font";
@import "partials/color";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#header {
	height: 1.5em;
	padding-top: .5em; 
	margin: 0 .5em .5em .5em;
	border-width: 0 0 1px 0;

	.flash {
		@include pixel_font($font_size_flash, $font_color_flash);
		display: inline-block;
		border-width: 9px 8px 9px 50px;
		border-image: url(/assets/flash.png) 9 8 9 50 fill stretch;
		&:empty { display: none; }
	}
}

.image_button {
	@include pixel_font($font_size_btn, $font_color_btn);
	border: none;
	background: url(button.png) no-repeat center center;
	width: 111px;
	height: 50px;
	&:hover { background: url(button_hover.png) no-repeat center center; };
	&:disabled { background: url(button_disabled.png) no-repeat center center; color: $font_color_btn_disabled };
}

// links
a {
	@include pixel_font($font_size_std, $font_color_link);
  	text-decoration: none;
	&:hover { color: $font_color_link_hover !important; }
	&:visited { color: $font_color_link_visited; }
}

// navigation
nav {
	float: right;
	white-space: nowrap;
	
	ul {
		li {
			list-style-type: none;
			display: inline-block;
			a { padding: 0 5px; font-weight: bold; }
		}
	}
}

img { max-width: 100%; max-height: 100%; } // makes image height flexible with respect to container

input[type=checkbox] + span::before { 
	content: ''; 
	display: inline-block;
	background: url(checkbox.png) no-repeat 0 0; 
	vertical-align: middle;  
	width: 18px; 
	height: 21px;
}

input[type=checkbox]:checked + span::before { background-position: 0 -21px; }
input[type=checkbox]:disabled + span, input[type=checkbox]:disabled + span::before { opacity: .4; }
input[type=checkbox]:focus + span::before, input[type=checkbox]:active + span::before { }

input[type=checkbox] { 
	position: absolute; 
	opacity: 0; 
}

