.footer
	= button_to_function 'back', 'back_handler()', :id => 'back_button', :class => 'image_button'
	= button_to_function 'next', 'next_handler()', :id => 'next_button', :class => 'image_button'
	.message
		= "Loading Game Data..."	