.game_invite.no_invites
	%span{ :class => 'invite_title' }
	%span{ :class => 'invite_players' }
	.invite_buttons
		%button{ :type => 'button', :class => 'image_button accept_button' }
		%button{ :type => 'button', :class => 'image_button reject_button' }
	%span{ :class => 'waiting_text' }