.players
	- @game.players.each_with_index do |player, i|
		.player{ :player_id => player.id }
			= player.user[:email]
			.player_info
				- tiles = find_tiles_for i, @game.cur_turn.board
				- tiles.each do |t|
					= tile_ix_to_name(t, @game.template)