%footer
  #footer_left
    Based on the boardgame Acquire by Sid Sackson, which you should purchase.
  #footer_right
      = link_to 'About', '/about'
      = link_to 'Contact', '/contact'
      = link_to 'Help', '/help'
  